#mohit-website-globe {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    min-width: 350px;
    top: 0%;
    right: 0%;
}
#mohit-website-geocoder {
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Lexend', sans-serif;
}

.cesium-geocoder-input {
    width: 85%;
    min-width: 325px;
    text-align: center;
    background: var(--blue-one);
    padding: 10px;
    border: 2px solid var(--blue-three);
    border-radius: 10px;
    color: var(--blue-five);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    transition: border 0.2s, padding 0.2s;
    outline: none;
    font-family: inherit;
}
.cesium-geocoder-input:hover {
    border-color: var(--blue-five);
    padding: 12px !important;
}

#mohit-website-geocoder ul {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 10px 0px;
}
#mohit-website-geocoder li {
    position: relative;
    color: white;
    width: 85%;
    min-width: 300px;
    list-style-type: none;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    border: 2px solid var(--blue-three);
    letter-spacing: 1px;
    background: var(--blue-one);
    margin-top: 10px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    border-radius: 10px;
    transition: border 0.2s, padding 0.2s;
}
#mohit-website-geocoder li:hover {
    border: 2px solid var(--blue-five);
    padding: 12px;
}

.cesium-geocoder-searchButton {
    display: none;
}
.cesium-viewer-bottom {
    display: none;
}

.search-results {
    position: relative;
    width: 100%;
}
.cesium-geocoder-input::placeholder {
    color: var(--blue-five);
    font-weight: 500;
}