.globeApp-menu {
    position: absolute;
    left: 55px;
    height: 100%;
    width: 400px;
    background: rgba(187, 210, 255, 0.98);
    border: 2px solid var(--blue-cobalt);
    border-top: 0px;
    border-bottom: 0px;
    z-index: 4;
    overflow: hidden;
}

.globeApp-menu-body {
    height: calc(100% - 45px);
    width: 100%;
    overflow-y: auto;
}
.globeApp-menu-body.column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.globeApp-menu-incomplete {
    width: calc(100% - 20px);
    height: fit-content;
    padding: 0px 10px;
    font-size: 28px;
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: var(--blue-cobalt);
}
.globeApp-menu-line {
    height: 2px;
    width: 100%;
    background-color: var(--blue-three);
}

.globeApp-menu-button {
    cursor: pointer;
    width: calc(100% - 4px);
    height: fit-content;
    padding: 12px 0px;
    border: 2px solid rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: var(--default-transition);
    color: var(--blue-cobalt);
}
.globeApp-menu-button:hover {
    background-color: var(--blue-one);
    border-color: black;
    color: black;
}

.globeApp-menu-button.gold {
    color: var(--gold-color);
}
.globeApp-menu-button.gold:hover {
    background-color: var(--gold-light);
    color: black;
}

.globeApp-menu-button svg {
    margin-left: 8px;
    width: 22px;
    font-size: 20px;
}
.globeApp-menu-button img {
    margin-left: 10px;
    width: 22px;
}
.globeApp-menu-button span {
    margin-left: 12px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.globeApp-menu-button_2 {
    margin-top: 30px;
    padding: 20px 0px;
    height: 35px;
    width: 85%;
    border: 2px solid var(--blue-cobalt);
    border-radius: 10px;
}

.globeApp-menu-button_2.ivue {
    background-color: white;
    border-color: black;
}
.globeApp-menu-button_2.ksu {
    background-color: #B2B4B2;
    border-color: var(--ksu-yellow);
}
.globeApp-menu-button_2.sublo {
    background-color: #d1efff;
    border-color: #36A1D9;
}

@media (max-width: 600px) {
    .globeApp-menu {
        width: calc(100% - 57px);
        border-radius: 0px;
        border-right: none;
    }
}